<?xml version="1.0"?>
<settings path="/home/rcor/dev/Java/JAnthill/" file="anthill.jar" class="dcc.ufmg.anthill.Anthill">
	<host>
		<name>rcor</name>
		<address>192.168.0.101</address>
		<workspace>/home/rcor/JAnthill/</workspace>
		<ssh>
			<user>rcor</user>
			<password>31415926</password>
			<port>22</port>
		</ssh>
	</host>
	<host>
		<name>victor-laptop</name>
		<address>192.168.0.100</address>
		<workspace>/home/hduser/JAnthill/</workspace>
		<ssh>
			<user>hduser</user>
			<password>rocha</password>
			<port>22</port>
		</ssh>
		<hdfs>
			<port>54310</port>
			<path>/usr/local/hadoop/bin/hadoop</path>
		</hdfs>
	</host>
</settings>
